.about {
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .about__me {
        display: flex;
        background-color: var(--background-color);
        background-image: url('../../Assets/631a5d4631d4c55a475f3e34_noise-50.png');
        border-radius: 3px;
        height: 390px;
        width: 100%;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);

        img {
            border-radius: 4px;
            margin: 20px;
            height: 90%;
        }

        > div {

            p:first-of-type {
                width: fit-content;
                padding: 9px;
                background: var(--main-yellow);
                border-radius: 4px;
                font-size: 18px;
                font-weight: bold;
            }

            h2 {
                color: white;
                margin-top: 30px;

                .about__me__icon {
                    font-size: 26px;
                    color: var(--main-yellow);
                }
            }

            p:nth-of-type(2) {
                font-size: 18px;
                margin-top: 32px;
                width: 90%;
                color: var(--main-yellow);
            }

            button {
                margin-top: 20px;
                padding: 10px;
                width: 90%;
                border-radius: 2px;
                cursor: pointer;
                border: none;
                background-color: coral;
                font-size: 18px;
                color: var(--background-color);
                font-weight: 600;
                transition: all 0.3s;
            }

            button:hover {
                background-color: green;
                margin-top: 15px;
            }
        }
    }
}

@media (max-width: 530px) {
    .about__me {
        height: 470px;
    }
}

@media (min-width: 768px) {
    .about__container {
        padding: 0 100px;
    }
}

@media (max-width: 1000px) {
    .about__me {
        img {
            display: none;
        }

        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (min-width: 1200px) {
    .about__container {
        padding: 0 200px;
    }
}

@media (min-width: 1400px) {
    .about__container {
        padding: 0 300px;
    }

    .about__me button {
        margin-top: 40;
    }
}