* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

:root {
    --background-color: #222327;
    --main-red: #b3404a;
    --main-yellow: #dcc73c; 
}

.App {
    z-index: 100;
    background-image: url('../../Assets/631a5d4631d4c55a475f3e34_noise-50.png');
}
