* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

:root {
    --background-color: #222327;
    --main-red: #f3946f;
    --main-yellow: #dcc73c; 
}

@media screen and (min-width: 1200px) {
    .container {
        padding: 0 200px;
    }
}

.App {
    position: relative;
}

.cover {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../Assets/631a5d4631d4c55a475f3e34_noise-50.png');
}

