.home {
    
    height: 720px;
    
    .home__me {
        display: flex;
        
        .home__me__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            margin-right: 8px;

            h1 {
                font-weight: 500;
                font-size: 44px;

                .home__me__infoIcon {
                    color: var(--main-yellow);
                }
            }

            p {
                font-size: 18px;
                color: grey;
            }

            .home__me__infoCont {
                display: flex;

                .home__me__infoLink  {
                    height: 34px;
                    margin-right: 10px;
                    color: black;
                }

                .blue:hover {
                    color: #0a66c2;
                }

                .grey:hover {
                    color: #1c2128;
                }
            }
            
        }

        .home__me__image {
            border-radius: 50%;
            overflow: hidden;
            min-width: 300px;
            height: 300px;
            background-color: var(--main-red);
            position: relative;

            img {
                position: absolute;
                height: 200px;
                width: 200px;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -40%);
            }
        }
    }

    .home__stack {
        padding: 0;
        margin: 60px 0px;
        list-style: none;
        display: flex;

        li {
            margin-right: 10px;

            img {
                width: 50px;
            }

            img:hover {
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    .home {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        
        .home__me {
            flex-direction: column;
            padding-top: 20px;
    
            .home__me__image {
                width: 300px;
                margin-top: 45px;
            }
        }
    }
}

@media (min-width: 768px) {
    .container {
        padding: 40px 100px;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 40px 200px;
    }
}

@media (min-width: 1200px) {
    .header {
        padding: 0 200px;
    }

    .container {
        padding: 60px 300px;
    }
}

@media (min-width: 1400px) {
    .container {
        padding: 80px 400px;
    }
}