* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

:root {
  --background-color: #222327;
  --main-red: #b3404a;
  --main-yellow: #dcc73c;
}

.App {
  z-index: 100;
  background-image: url("../../Assets/631a5d4631d4c55a475f3e34_noise-50.png");
}

.header {
  color: white;
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  height: 75px;
  position: sticky;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.header .header__logo {
  flex: 1;
  padding: 7px 15px;
  font-size: 25px;
}
.header .header__links {
  display: flex;
  list-style: none;
}
.header .header__links li {
  padding: 0 20px;
  cursor: pointer;
  color: gray;
}
.header .header__links li:hover {
  color: white;
}

.home {
  height: 700px;
}
.home .home__me {
  display: flex;
}
.home .home__me .home__me__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-right: 8px;
}
.home .home__me .home__me__info h1 {
  font-weight: 500;
  font-size: 44px;
}
.home .home__me .home__me__info h1 .home__me__infoIcon {
  color: var(--main-yellow);
}
.home .home__me .home__me__info p {
  font-size: 18px;
  color: grey;
}
.home .home__me .home__me__info .home__me__infoCont {
  display: flex;
}
.home .home__me .home__me__info .home__me__infoCont .home__me__infoLink {
  height: 34px;
  margin-right: 10px;
  color: black;
}
.home .home__me .home__me__info .home__me__infoCont .blue:hover {
  color: #0a66c2;
}
.home .home__me .home__me__info .home__me__infoCont .grey:hover {
  color: #1c2128;
}
.home .home__me .home__me__image {
  border-radius: 50%;
  overflow: hidden;
  min-width: 300px;
  height: 300px;
  background-color: var(--main-red);
  position: relative;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}
.home .home__me .home__me__image img {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  box-shadow: 0 0 0 3px #e78267;
}
.home .home__stack {
  padding: 0;
  margin: 60px 0px;
  list-style: none;
  display: flex;
}
.home .home__stack li {
  margin-right: 10px;
}
.home .home__stack li img {
  width: 50px;
}
.home .home__stack li img:hover {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
  .home .home__me {
    flex-direction: column;
    padding-top: 20px;
  }
  .home .home__me .home__me__image {
    width: 300px;
    margin-top: 45px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 40px 100px;
  }
}
@media (min-width: 992px) {
  .container {
    padding: 40px 200px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 0 200px;
  }
  .container {
    padding: 60px 300px;
  }
}
@media (min-width: 1400px) {
  .container {
    padding: 80px 400px;
  }
}
.about {
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about__me {
  display: flex;
  background-color: var(--background-color);
  background-image: url("../../Assets/631a5d4631d4c55a475f3e34_noise-50.png");
  border-radius: 3px;
  height: 390px;
  width: 100%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}
.about .about__me img {
  border-radius: 4px;
  margin: 20px;
  height: 90%;
}
.about .about__me > div p:first-of-type {
  width: -moz-fit-content;
  width: fit-content;
  padding: 9px;
  background: var(--main-yellow);
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
}
.about .about__me > div h2 {
  color: white;
  margin-top: 30px;
}
.about .about__me > div h2 .about__me__icon {
  font-size: 26px;
  color: var(--main-yellow);
}
.about .about__me > div p:nth-of-type(2) {
  font-size: 18px;
  margin-top: 32px;
  width: 90%;
  color: var(--main-yellow);
}
.about .about__me > div button {
  margin-top: 20px;
  padding: 10px;
  width: 90%;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  background-color: coral;
  font-size: 18px;
  color: var(--background-color);
  font-weight: 600;
  transition: all 0.3s;
}
.about .about__me > div button:hover {
  background-color: green;
  margin-top: 15px;
}

@media (max-width: 530px) {
  .about__me {
    height: 470px;
  }
}
@media (min-width: 768px) {
  .about__container {
    padding: 0 100px;
  }
}
@media (max-width: 1000px) {
  .about__me img {
    display: none;
  }
  .about__me > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .about__container {
    padding: 0 200px;
  }
}
@media (min-width: 1400px) {
  .about__container {
    padding: 0 300px;
  }
  .about__me button {
    margin-top: 40;
  }
}
.projects {
  width: 100%;
  height: 770px;
  padding-top: 50px;
  background-color: var(--background-color);
}
.projects > h2 {
  text-align: center;
  color: var(--main-yellow);
  margin-bottom: 100px;
}
.projects .projects__project {
  display: flex;
  justify-content: space-around;
}
.projects .projects__project .project {
  background-color: var(--main-red);
  width: 400px;
  height: 500px;
  border-radius: 4px;
  overflow: hidden;
  background-image: url("../../Assets/631a5d4631d4c55a475f3e34_noise-50.png");
}
.projects .projects__project .project > img {
  width: 100%;
  height: 200px;
}
.projects .projects__project .project > h4 {
  font-size: 26px;
  margin: 8px 16px;
  color: white;
}
.projects .projects__project .project > p {
  padding: 14px;
}
.projects .projects__project .project > div {
  display: flex;
  padding: 10px;
  margin-top: 42px;
}
.projects .projects__project .project > div a {
  text-decoration: none;
  background: var(--main-yellow);
  padding: 5px;
  border-radius: 4px;
  color: var(--background-color);
  font-weight: bold;
  transition: all 0.3s;
}
.projects .projects__project .project > div a:first-of-type {
  margin-right: auto;
}
.projects .projects__project .project > div a:hover {
  background-color: var(--background-color);
  color: white;
}/*# sourceMappingURL=main.css.map */